<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="Style/style.css">
</head>
<main class="plantilla">

    <header>
         <h2>Diseño <span>Multimedia</span></h2>
         <div class="links">

         <li><a href="./principal.html">INICIO</li></a>
         <li><a href="./nosotros.html">NOSOTROS</li></a>
         <li><a href="./servicios.html">SERVICIOS</li></a>
         <li><a href="./contacto.html">CONTACTO</li></a>
        </div>
    
    </header>
<section class="correo">

        <h2>Subscribete a nuestro boletin </h2>

        <div class="correos">

        <input class="cajonBlancoS" type="email" placeholder="ingrese el Email..." name="" id="">

        <button class="buttonS">Subscribete</button>
       </div>
</section>

<section class="cajaTextoC">

    <div class="textosC">

        <div class="contacto">
            <h2>Contacto</h2>
        </div>

       <div class="C1">
        <div>
            <h2>Nombre</h2>
        </div>
        <div>
            <input class="cajonBlancoC" type="email" placeholder="Ingrese tu nombre" name="" id="">
        </div>
           
       </div>
       <div class="C2">
        <div>
            <h2>Email</h2>
        </div>
        <div>
            <input class="cajonBlancoC" type="email" placeholder="Ingrese tu email" name="" id="">
        </div>
           
       </div>
       <div class="C3">
        <div>
            <h2>Telefono</h2>
        </div>
        <div>
            <input class="cajonBlancoC" type="email" placeholder="Ingrese tu telefono" name="" id="">
        </div>
           
       </div>
       <div class="C4">
        <div>
            <h2>Celular</h2>
        </div>
        <div>
            <input class="cajonBlancoC" type="email" placeholder="Ingrese tu celular" name="" id="">
        </div>
           
       </div>
       <div class="C5">
        <div>
            <h2>Mensaje</h2>
        </div>
        <div>
            <input class="cajonBlancoC5" type="email" placeholder="" name="" id="">
        </div>
        <div>
            <button class="buttonC">Enviar</button>
        </div>
           
       </div>
       </div>

    <div class="C6">
            <div class="conten">
                <h2>Que Hacemos</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum qui repellat ipsum cupiditate sit vel, accusantium fugiat libero aperiam. Soluta alias tenetur facere ad error dolore libero,lacineia et magna. </p>
            </div>
        <div class="imagenmapa">
            <img src="Assents/mapaGoogle.png" alt="">
        </div>
    </div>

   
</section>

   <footer>
       <p>Graphel Desarrollo Web, Copyright &copy; 2017</p>
   </footer>















<main>
</html>