<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>segundaPG</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>

<main class="plantilla">

    <header>
         <h2>Diseño <span>Multimedia</span></h2>
         <div class="links">

         <li><a href="../index.html">INICIO</li></a>
         <li><a href="./nosotros.html">NOSOTROS</li></a>
         <li><a href="./servicios.html">SERVICIOS</li></a>
         <li><a href="./contacto.html">CONTACTO</li></a>
        </div>
    
    </header>

    <section class="correo">

        <h2>Subscribete a nuestro boletin </h2>

        <div class="correos">

        <input class="cajonBlancoN" type="email" placeholder="ingrese el Email..." name="" id="">

        <button class="buttonN">Subscribete</button>
       </div>
    </section> 

    <section class="cajaTextoN">

     <div class="textosN">

        <div class="N1">
            <h2>Nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit labore commodi obcaecati laboriosam impedit suscipit pariatur? Aliquam impedit, perspiciatis alias numquam consequatur quis. Et dolor totam dicta necessitatibus quisquam suscipit!</p>
        </div>

        <div class="N2">
            <p>Aliquam eget pharetra diam. Nulla placerat lorem at turpis tempor, vel ultrices dui tincidunt. Proin quis egestas lorem. Mauris vehicula lectus odio, sit amet dictum justo feugiat a. Praesent id dictum lacus. Sed ullamcorper id erat ut dictum. Fusce porttitor lorem sapien, in aliquet sapien convallis etc.Donec nec mauris nulla. Curabitur cursus semper odio, et hendrerit ante. Nunc at cursus ante.
                Maecenas gravida ligula ut efficitur suscipit. Nulla id turpis varius, pretium nunc sed, fermentum sem.
                Sed lacinia nunc non interdum pellentesque.</p>
        </div>
        <div class="imagenN">
            <img src="Assents/891.jpg" alt="">
        </div>

    </div>

    <div class="N3">
        <h2>Que Hacemos</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum qui repellat ipsum cupiditate sit vel, accusantium fugiat libero aperiam. Soluta alias tenetur facere ad error dolore libero,lacineia et magna. </p>
    </div>

    </section>

    <footer>
        <p>Graphel Desarrollo Web, Copyright &copy; 2017</p>
    </footer>
    
</main>
</html>