<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<main class="plantilla">

    <header>
        
         <h2>Diseño <span>Multimedia</span></h2>
         <div class="links">

         <li><a href="../index.html">INICIO</li></a>
         <li><a href="./nosotros.html">NOSOTROS</li></a>
         <li><a href="./servicios.html">SERVICIOS</li></a>
         <li><a href="./contacto.html">CONTACTO</li></a>
        </div>
    
    </header>

<section class="correo">

        <h2>Subscribete a nuestro boletin </h2>

        <div class="correos">

        <input class="cajonBlancoS" type="email" placeholder="ingrese el Email..." name="" id="">

        <button class="buttonS">Subscribete</button>
       </div>
</section>


<section class="cajaTextoS">

    <div class="textosS">

        <div class="servicio">
            <h2>Servicios</h2>
        </div>

       <div class="S1">
           <h2>Diseño Web</h2>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste alias enim inventore illum quas tempore aliquid accusantium, Nulla facilisi.</p>

           <p>Precio: $300000 - $1000000</p>
       </div>

       <div class="S2">
           <h2>Desarrollo Web</h2>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste alias enim inventore illum quas tempore aliquid accusantium, Nulla facilisi.</p>

           <p>Precio desde: $1000000</p>
           
       </div>
       <div class="S3">
            <h2>Hoting Web</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste alias enim inventore illum quas tempore aliquid accusantium, Nulla facilisi.</p>

            <p>Precio: $300000</p>
           
       </div>

   </div>

   <div class="S4">
       <h2>Que Hacemos</h2>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum qui repellat ipsum cupiditate sit vel, accusantium fugiat libero aperiam. Soluta alias tenetur facere ad error dolore libero,lacineia et magna. </p>
   </div>

</section>

   <footer>
       <p>Graphel Desarrollo Web, Copyright &copy; 2017</p>
   </footer>

</main>
</html>